@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 190 67% 93%;
    --foreground: 215 25% 27%;
    --card: 190 67% 98%;
    --card-foreground: 215 25% 27%;
    --popover: 190 67% 98%;
    --popover-foreground: 215 25% 27%;
    --primary: 197 71% 53%;
    --primary-foreground: 210 40% 98%;
    --secondary: 190 50% 85%;
    --secondary-foreground: 215 25% 27%;
    --muted: 190 50% 85%;
    --muted-foreground: 215 15% 45%;
    --accent: 36 100% 50%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 197 20% 80%;
    --input: 190 67% 98%;
    --ring: 197 71% 53%;
    --chart-1: 197 71% 53%;
    --chart-2: 36 100% 50%;
    --chart-3: 197 50% 40%;
    --chart-4: 36 80% 40%;
    --chart-5: 197 90% 65%;
    --radius: 0.5rem;

    --sidebar-background: 215 30% 25%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-border: 215 30% 35%;
    --sidebar-accent: 215 30% 35%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-ring: 197 71% 53%;
  }

  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --card: 222 47% 11%;
    --card-foreground: 210 40% 98%;
    --popover: 222 47% 11%;
    --popover-foreground: 210 40% 98%;
    --primary: 197 71% 53%;
    --primary-foreground: 210 40% 98%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217 33% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 36 100% 50%;
    --accent-foreground: 222 47% 11%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
    --border: 217 33% 17%;
    --input: 217 33% 17%;
    --ring: 197 71% 53%;
    --chart-1: 197 71% 53%;
    --chart-2: 36 100% 50%;
    --chart-3: 197 50% 40%;
    --chart-4: 36 80% 40%;
    --chart-5: 197 90% 65%;

    --sidebar-background: 222 47% 11%;
    --sidebar-foreground: 210 40% 98%;
    --sidebar-border: 217 33% 17%;
    --sidebar-accent: 217 33% 17%;
    --sidebar-accent-foreground: 210 40% 98%;
    --sidebar-ring: 197 71% 53%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@media print {
  body * {
    visibility: hidden;
  }
  .printable-area, .printable-area * {
    visibility: visible;
  }
  .printable-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}
